/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,button,input,select,textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,canvas,img,video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.report_header{
	font-size: 22px;
}
.landing_page_sessions {
	position: absolute;
	left: 391px;
	top: 366px;
	font-size: 18px;
}
.landing_page_sign {
	position: absolute;
	left: 390px;
	top: 391px;
}
.landing_page_change {
	position: absolute;
	left: 405px;
	top: 389px;
}
.product_page_sessions {
	position: absolute;
	left: 525px;
	top: 375px;
	font-size: 18px;
}
.product_page_sign {
	position: absolute;
	left: 525px;
	top: 400px;
}
.product_page_change {
	position: absolute;
	left: 537px;
	top: 400px;
}
.up_side_down {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.fixed {
	max-width: 1000px;
	width: 1000px;
	margin: auto;
}
.img_container {
	width: 1000px;
	position: relative;
}
.up {
	color: green;
}
.up:before {
	content: '+';
}
.down {
	color: red;
}
.down:before {
	content: '-';
}
.total_device_sessions {
	position: absolute;
	left: 110px;
	top: 672px;
	font-size: 18px;
}
.channel_name_0 {
	position: absolute;
	left: 200px;
	top: 210px;
	font-size: 14px;
}
.channel_sessions_percent_0 {
	position: absolute;
	left: 302px;
	top: 210px;
	font-size: 14px;
}
.channel_sessions_0 {
	position: absolute;
	left: 200px;
	top: 230px;
	font-size: 14px;
}
.channel_sign_0 {
	position: absolute;
	left: 275px;
	top: 234px;
}
.channel_change_0 {
	position: absolute;
	left: 290px;
	top: 234px;
	font-size: 14px;
}
.channel_name_1 {
	position: absolute;
	left: 200px;
	top: 300px;
	font-size: 14px;
}
.channel_sessions_percent_1 {
	position: absolute;
	left: 302px;
	top: 300px;
	font-size: 14px;
}
.channel_sessions_1 {
	position: absolute;
	left: 200px;
	top: 320px;
	font-size: 14px;
}
.channel_sign_1 {
	position: absolute;
	left: 275px;
	top: 320px;
}
.channel_change_1 {
	position: absolute;
	left: 290px;
	top: 320px;
	font-size: 14px;
}
.channel_name_2 {
	position: absolute;
	left: 200px;
	top: 374px;
	font-size: 14px;
}
.channel_sessions_percent_2 {
	position: absolute;
	left: 302px;
	top: 374px;
	font-size: 14px;
}
.channel_sessions_2 {
	position: absolute;
	left: 200px;
	top: 393px;
	font-size: 14px;
}
.channel_sign_2 {
	position: absolute;
	left: 275px;
	top: 393px;
}
.channel_change_2 {
	position: absolute;
	left: 290px;
	top: 393px;
	font-size: 14px;
}
.channel_name_3 {
	position: absolute;
	left: 200px;
	top: 417px;
	font-size: 14px;
}
.channel_sessions_percent_3 {
	position: absolute;
	left: 302px;
	top: 417px;
	font-size: 14px;
}
.channel_sessions_3 {
	position: absolute;
	left: 200px;
	top: 435px;
	font-size: 14px;
}
.channel_sign_3 {
	position: absolute;
	left: 275px;
	top: 435px;
}
.channel_change_3 {
	position: absolute;
	left: 290px;
	top: 435px;
	font-size: 14px;
}
.channel_name_4 {
	position: absolute;
	left: 200px;
	top: 461px;
	font-size: 14px;
}
.channel_sessions_percent_4 {
	position: absolute;
	left: 302px;
	top: 461px;
	font-size: 14px;
}
.channel_sessions_4 {
	position: absolute;
	left: 200px;
	top: 478px;
	font-size: 14px;
}
.channel_sign_4 {
	position: absolute;
	left: 275px;
	top: 478px;
}
.channel_change_4 {
	position: absolute;
	left: 290px;
	top: 478px;
	font-size: 14px;
}
.channel_name_5 {
	position: absolute;
	left: 200px;
	top: 512px;
	font-size: 14px;
}
.channel_sessions_percent_5 {
	position: absolute;
	left: 302px;
	top: 512px;
	font-size: 14px;
}
.channel_sessions_5 {
	position: absolute;
	left: 200px;
	top: 530px;
	font-size: 14px;
}
.channel_sign_5 {
	position: absolute;
	left: 275px;
	top: 530px;
}
.channel_change_5 {
	position: absolute;
	left: 290px;
	top: 530px;
	font-size: 14px;
}
.channel_name_6 {
	position: absolute;
	left: 200px;
	top: 560px;
	font-size: 14px;
}
.channel_sessions_percent_6 {
	position: absolute;
	left: 302px;
	top: 560px;
	font-size: 14px;
}
.channel_sessions_6 {
	position: absolute;
	left: 200px;
	top: 582px;
	font-size: 14px;
}
.channel_sign_6 {
	position: absolute;
	left: 275px;
	top: 582px;
}
.channel_change_6 {
	position: absolute;
	left: 290px;
	top: 582px;
	font-size: 14px;
}
.device_name_left {
	left: 130px;
}
.device_name_desktop {
	position: absolute;
	left: 120px;
	top: 210px;
	font-size: 20px;
}
.desktop_sessions {
	position: absolute;
	left: 80px;
	top: 232px;
	font-size: 14px;
}
.desktop_percent_change {
	position: absolute;
	left: 15px;
	top: 232px;
	font-size: 14px;
}
.desktop_sign{
	position: absolute;
	left: 0px;
	top: 235px;
}
.desktop_percent{
	position: absolute;
	left: 140px;
	top: 259px;
	font-size: 14px;
	font-weight: bold;
}
.desktop_bounce{
	position: absolute;
	left: 140px;
	top: 277px;
	font-size: 14px;
}
.desktop_conv {
	position: absolute;
	left: 140px;
	top: 296px;
	font-size: 14px;
}
.device_name_mobile {
	position: absolute;
	top: 367px;
	font-size: 20px;
}
.mobile_sessions {
	position: absolute;
	left: 80px;
	top: 388px;
	font-size: 14px;
}
.mobile_percent_change {
	position: absolute;
	left: 15px;
	top: 388px;
	font-size: 14px;
}
.mobile_sign{
	position: absolute;
	left: 0px;
	top: 388px;
}
.mobile_percent{
	position: absolute;
	left: 140px;
	top: 408px;
	font-size: 14px;
	font-weight: bold;
}
.mobile_bounce{
	position: absolute;
	left: 140px;
	top: 426px;
	font-size: 14px;
}
.mobile_conv{
	position: absolute;
	left: 140px;
	top: 445px;
	font-size: 14px;
}
.device_name_tablet {
	position: absolute;
	top: 505px;
	font-size: 20px;
}
.tablet_sessions {
	position: absolute;
	left: 80px;
	top: 526px;
	font-size: 14px;
}
.tablet_percent_change {
	position: absolute;
	left: 15px;
	top: 526px;
	font-size: 14px;
}
.tablet_sign{
	position: absolute;
	left: 0px;
	top: 528px;
}
.tablet_percent{
	position: absolute;
	left: 140px;
	top: 546px;
	font-size: 14px;
	font-weight: bold;
}
.tablet_bounce{
	position: absolute;
	left: 140px;
	top: 564px;
	font-size: 14px;
}
.tablet_conv{
	position: absolute;
	left: 140px;
	top: 583px;
	font-size: 14px;
}
.head {
	margin: 20px 0 0 0;

}

.left-label {
	padding-top: 7px;
}

.dl-horizontal dt{
	width: 30%;
}

.dl-horizontal dd{
	margin-left: 120px;
}

.date {
	width: 100%;
}

@font-face {
	font-family: 'arundinamono';
	src: url('../fonts/arundinamono-webfont.eot') format('truetype');
	src: url('../fonts/arundinamono-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/arundinamono-webfont.ttf')
		format('truetype');
}

/* .form-group label{
    font-family: arundinamono;
}
 */
.input-number{
	text-align:right;
}
.choice {
	border-radius: 4px;
}
.danger {
	color: #d9534f;
}
.panel {
	margin-right: 10px;
	padding-bottom: 10px;
}

.logout{
	.pull-right();
	display: inline;
	margin: 10px 10px 0 0;
}
.banner-text{
	margin-top: 40px;
}
.video{
	vertical-align:text-top;
}
@media (max-width:767px){
	.banner-text{
		margin-top: 0px;
	}
	.logout{
		float: right;
		display: inline;
		margin: 0;
	}
}

.form-user-profile{
	max-width: 600px;
  	padding: 15px;
  	margin: 0 auto;
}

.form-signin {
  	max-width: 330px;
  	padding: 15px;
  	margin: 0 auto;
}

.centering {
  	float:none;
  	margin:10px auto;
}

.choice-container{
	padding-left: 40px;
}

.countdown-container{
	margin-right: 10px;
}

#user-create-frm {
	margin: 20px;
	width: 60%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 80%;
	margin: auto;
	min-width: 1100px;
	max-width: 1300px;
	position: relative;
}

.sortable-ghost {
	opacity: .2;
}

.title {
	color: #fff;
	padding: 3px 10px;
	display: inline-block;
	position: relative;
	background-color: #FF7373;
	z-index: 1000;
}

.title_xl {
	padding: 3px 15px;
	font-size: 40px;
}

.tile {
	width: 22%;
	min-width: 240px;
	color: #FF7270;
	padding: 10px 30px;
	text-align: center;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 30px;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
}

.tile__name {
	cursor: move;
	padding-bottom: 10px;
	border-bottom: 1px solid #FF7373;
}

.tile__list {
	margin-top: 10px;
}

.tile__list:last-child {
	margin-right: 0;
	min-height: 80px;
}

.tile__list img {
	cursor: move;
	margin: 10px;
	border-radius: 100%;
}

.block {
	opacity: 1;
	position: absolute;
}

.block__list {
	padding: 20px 0;
	max-width: 360px;
	margin-top: -8px;
	margin-left: 5px;
	background-color: #fff;
}

.block__list li {
	cursor: move;
}

.block__list_words li {
	background-color: #fff;
	padding: 10px 40px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print , ( -o-min-device-pixel-ratio : 5/4) , (
		-webkit-min-device-pixel-ratio : 1.25) , ( min-resolution : 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links for images, or javascript/internal links
     */
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group; /* h5bp.com/t */
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}